@model IEnumerable<DoAnThucTap.Web.Areas.Admin.ViewModels.User.ListUserVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="my-2">
    <a asp-action="AddUser" class="btn btn-primary">
        <i class="fas fa-plus-circle"></i> &nbsp; Thêm tài khoản
    </a>
</div>


<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Tài khoản</th>
                <th>SĐT</th>
                <th>Gmail</th>
                <th>Ngày tạo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="fit">@item.Id</td>
                    <td>
                        @item.UserName
                    </td>
                    <td>@item.SDT</td>
                    <td>@item.Gmail</td>
                    <td>@item.CreateAt.ToDMY()</td>
                    <td class="fit">
                        <a asp-action="Details" asp-route-id="@item.Id"
                           class="btn btn-outline-secondary btn-sm"><i class="fas fa-eye"></i></a>

                        <a asp-action="Edit" asp-route-id="@item.Id"
                           class="btn btn-outline-secondary btn-sm"><i class="fas fa-pen"></i></a>



                        <a asp-action="UnBlockUser" asp-route-id="@item.Id"
                           class="btn btn-outline-secondary btn-sm"><i class="fas fa-unlock"></i></a>


                        <button type="button" data-id="@item.Id" class="btn btn-outline-danger btn-sm js-block" data-toggle="modal" data-target="#ModalBlock">
                            <i class="fas fa-ban"></i>
                        </button>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<partial name="_Pager" />