@model IEnumerable<DoAnThucTap.Web.Areas.Admin.ViewModels.CategoryBook.ListCategoryBookVM>

@{
    ViewData["Title"] = "Danh sách thể loại sách";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="my-2">
    <button type="button" class="btn btn-primary js-addorupdate" data-toggle="modal" data-target="#modal">
        <i class="fas fa-plus-circle"></i> &nbsp; Thêm mới thể loại sách
    </button>
</div>


<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Tên thể loại</th>
                <th>Ngày tạo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="fit">@item.Id</td>
                    <td>
                        @item.CategoryBookName
                    </td>
                    <td>@item.CreateAt.ToDMY()</td>
                    <td class="fit">
                        <a asp-action="Delete" asp-controller="CategoryBook" asp-route-id="@item.Id"
                           class="btn btn-outline-secondary btn-sm"><i class="fas fa-trash"></i></a>

                        <button class="btn btn-outline-secondary btn-sm js-addorupdate" data-id="@item.Id" data-toggle="modal" data-target="#modal">
                            <i class="fas fa-pen"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<partial name="_Pager" />
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-AddorUpdate">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary js-postdata">Save changes</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/adminLTE/dist/js/categoryBook/categoryBook.js" asp-append-version="true"></script>
}